[2018-03-29 16:42] singh-95 opened #1 "Sort search result feature request"
Can you please add the option to sort the search results using url parameters and then return the json object?

[2018-04-10 07:35] parthpower commented on #1
What type of sort?

[2018-07-31 13:34] de666 opened #3 "Wrong video duration if over one hour"
If the video duration is more than one hour, the reported video duration is only in the format `hour:minute` and not `hour:minute:seconds`

example query:
`http://youtube-scrape.herokuapp.com/api/search?q=onde%20del%20mare&page=1`

[2019-01-08 02:12] HermanFassett commented on #3
Hey thanks for the info. Are people actually using this? I kind of forgot about it

[2019-01-08 10:32] de666 commented on #3
What do you mean with

?

[2019-01-08 16:40] HermanFassett commented on #3
Just wondering if the API is actively used.

[2019-01-08 18:44] pulkitj79 commented on #3
I am not sure about others. But I have found it very useful for a project. Can you please help me in deploying this to Heroku? I am a beginner on this.

[2019-01-09 07:58] HermanFassett commented on #3
Won't go into it here, basically with Heroku CLI you can pretty much create and set a heroku app as just another git remote that you can push to as you would github and it automatically deploys if you set stuff up correctly.

[2019-01-09 14:20] pulkitj79 commented on #3
Thanks Herman, that will help me.

[2019-01-09 16:49] de666 commented on #3
I think it is. Why it should not?
I think it is extremely useful.

[2019-02-12 03:22] mohitchoudhary25 commented on #3
Hey, I was trying to use this but I don't get any response. Do you know if this is still working ?

[2019-02-12 07:19] pulkitj79 commented on #3
Yeah this has worked for me.

On Tue, 12 Feb 2019 at 8:52 AM, Mohit <notifications@github.com> wrote:

[2019-02-13 02:31] mohitchoudhary25 commented on #3
I have a dataset of about 30,000 song titles for which I need to find relevant video titles. SO this scraper helps immensely. However, after 150 continuous hits, I start getting no response. Any idea why this happens @pulkitj79

[2019-02-21 02:52] HermanFassett commented on #3
@mohitchoudhary25 if you hit the http://youtube-scrape.herokuapp.com then I'm only hosting it on a free account at heroku so it has limited daily usage. As I mentioned, you'll want to set up your own endpoint for reliable api.

[2019-02-24 03:29] pulkitj79 commented on #3
@mohitchoudhary25  I have also deployed at heroku on a different URL. You can deploy it locally too. And yes, as YouTube does the rate limitation, it stops working after 150-200 links. You need to wait for some time to start again. However, I am working on a similar project to find the relevant video titles for song titles. Let's connect to discuss more. Mail me at pulkitj@gmail.com

[2019-06-28 05:15] MSZ991 opened #5 "Thumbnails urls are not correct"
Thank you for this project.I would like to say that thumbnails urls are not correct.Only few top 2-3 urls are correct other results are undefined gif.
<img width="859" alt="Screen Shot 2019-06-28 at 10 11 54 AM" src="https://user-images.githubusercontent.com/14855029/60318804-d5ec9180-998d-11e9-8b2d-3eb669efcc6b.png">

[2019-06-28 15:56] HermanFassett commented on #5
Thanks I'll take a look at it

[2019-06-28 18:01] HermanFassett commented on #3
Thanks for this issue, it should be fixed now

[2019-06-28 18:01] #3 closed

[2019-06-28 18:02] HermanFassett commented on #5
Thanks for making this issue, it should be fixed now

[2019-06-28 18:02] #5 closed

[2019-07-05 12:53] MSZ991 commented on #5
Hey! Is there any way we can get video id as well? Can you add that feature.It would be great.
Thanks

[2019-07-05 18:03] HermanFassett commented on #5
Sure, should have video ids now

[2019-08-17 23:42] jerradpatch opened #10 "can you add a section in the readme"
about your motivations for this api, my goal here is to see how reliable your api will be before I integrate it.

Also a section on rate limiting and if the data is stored in your data base (how stale is it?) or realtime scrapped would be nice.

Thanks

[2019-08-17 23:44] #10 closed

[2019-08-17 23:44] jerradpatch commented on #10
I looked at the code, thanks

[2019-08-19 07:50] AGCMP3 opened #11 "Duplicated result"
There a bug for Duplicated result on upload date and view number. Its generate same data, the upload date data
Btw can i request :
1. Scrape Youtube data on single video, including its related videos result for the video
2. Scrape a playlist and channel data

[2019-08-19 16:29] HermanFassett commented on #11
Thanks for the issue, I'll look into it when I get a chance

[2019-08-19 17:02] johnny-stevie opened #12 "Heroku app crashes after calls"
@HermanFassett Thank you for this library! It has made my life very easy! I am using it to create an app! However, the problem is that the heroku api crashes after more than 20-ish requests. I wanted to make sure that this was heroku's fault due to request overload. Do you think this lib is robust enough to take many requests at once once my app is in production mode? It would be a shame if i had

[2019-08-19 17:58] HermanFassett commented on #12
Hey, my heroku deployment does have limited usage because it's on a free tier so that could be part of the issue. Having your own server hosting this would make it more reliable.
However, I've heard this approach could have an issue with YouTube itself limiting the web requests. I haven't verified it as I never reached a limit on local development, but I think someone said in another issue they go

[2019-08-19 18:09] johnny-stevie commented on #12
Doesnt the official Youtube api has also its own quota limitations? That would be annoying for people wanting to use it in production. However, I did use web scraping to get the youtube search results but it is a slow process due to the large html content you get from a youtube search. I have tried using NewPipeExtractor as its a good option for scraping youtube search info and downloading quickly

[2019-08-19 18:24] HermanFassett commented on #12
Yes the official API has limitations but they aren't miniscule and I believe you can request more if you have a valid need.

[2019-09-05 03:01] BrickCar opened #13 "When searching for Chinese singers, return error"

[2019-09-05 11:29] HermanFassett commented on #13
Oops, thanks for the issue

[2019-09-05 23:52] #11 closed

[2019-09-05 23:52] #13 closed

[2020-05-23 00:40] AYMEN-DEV opened #15 "Error (Heroku)"
Hello i got error application when i deploy your project on heroku please fix it http://yt-search-me.herokuapp.com/api/search?q=aymen&page=1

[2020-05-23 22:17] HermanFassett commented on #15
Can you give me the logs? It works fine on my deploy so this sounds like an issue with how it's set up.

[2020-05-24 02:23] AYMEN-DEV commented on #15
I just fork and deploy it on here the logs says :
2020-05-24T02:21:02.882582+00:00 app[web.1]: > youtube-scrape@0.0.3 start /app2020-05-24T02:21:02.882583+00:00 app[web.1]: > node server.js2020-05-24T02:21:02.882583+00:00 app[web.1]: 2020-05-24T02:21:02.934470+00:00 app[web.1]: internal/modules/cjs/loader.js:9602020-05-24T02:21:02.934472+00:00 app[web.1]: throw err;2020-05-24T02:21:02.934473+00:00

[2020-06-07 09:34] realmayus opened #16 "Source Code outdated?"
Is it possible that the source code is outdated? I tried to add your function to my react project and it never logs any results. The only thing that is different is that I am using
`https://cors-anywhere.herokuapp.com/https://www.youtube.com/results?q` as the URL so that the request works successfully.

Here's the method: https://gist.github.com/realmayus/7c59d9dcaf1ba74e2d7cd0b99c9f807e

[2020-06-07 12:13] realmayus commented on #16
Okay, seems to be react's fault because it runs fine on nodeJS. Strange.

[2020-06-07 12:13] #16 closed

[2020-06-11 12:02] AYMEN-DEV commented on #15
Hello?

[2020-06-11 18:12] HermanFassett commented on #15
I was able to redeploy the current code and it worked fine. My setup is a simple heroku nodejs app with a port defined in config vars but that should be handled in server.js already. Module not found makes it sound like the package.json file is missing the list of packages.

[2020-06-11 18:15] AYMEN-DEV commented on #15
Okay then make deploy to heroku button to README file ?

[2020-06-23 19:31] AYMEN-DEV commented on #15
Can u just create new account on heroku and try to deploy ??? I don't know why it's not working only i click to deploy button and i don't modify any file 💔

[2020-06-23 19:36] HermanFassett commented on #15
Hmm, I used my existing account and clicked deploy to new app which worked fine:
https://testgh-ytscrape.herokuapp.com/
I can try on a new account later I guess.

[2020-06-23 19:38] AYMEN-DEV commented on #15
Wtf? See https://zzzau.herokuapp.com/api/search?q=herman%20fassett&page=1 i deploy it now

[2020-06-23 19:40] andrewstech commented on #15
Its working for me.

[2020-06-23 19:44] AYMEN-DEV commented on #15
Do u add any thing to Config Vars in heroku?

[2020-06-23 19:51] HermanFassett commented on #15
All I did was click the Deploy button in the readme, login with my account, type in an app name, then click Deploy app. It then built and deployed successfully and gave me deployed url.

[2020-06-24 14:16] AYMEN-DEV commented on #15
I swear am doing like u and i get error

[2020-06-30 07:33] fightveryexplosion opened #18 "Not getting results anymore"
Hello, as of this morning I am no longer getting results through youtube-scrape.
I tried the example URL from the readme here on GitHub, but it has stopped returning results as well.
In another project of mine I noticed a lot of YouTube changes about a week ago, maybe there have been more changes that are now affecting youtube-scrape as well?

[2020-06-30 12:38] HermanFassett commented on #18
Thanks for the issue, it does appear that a change to YouTube is causing this issue. Sometimes the API still loads so I think the change has been incremental and still uses the old version in some cases. It appears an update will need to parse script tag from scraped url pre-load, I'll take a further look at it later.

[2020-07-01 02:53] fightveryexplosion commented on #18
Thank you for looking into it!
I really appreciate your work on this library :)

[2020-07-01 04:07] HermanFassett commented on #18
Started work on it, open pull request to develop with #19 if you want to check it out.

[2020-07-02 18:33] HermanFassett commented on #18
PR #19 merged in development, PR #20 open to merge into master but needs more testing

[2020-07-03 04:33] HermanFassett commented on #18
Changes merged to master with PR #20 and see deployed app returning results. Not extensively tested so please let me know if there are new issues resulting from the update.

[2020-07-03 04:33] #18 closed

[2020-07-03 06:14] fightveryexplosion commented on #18
I'm getting results without fault now!! Thank you so much!

[2020-07-03 06:50] dehdox opened #21 "Application error"
Hello, My heroku is crashing after you update the code. I noticed yours is as well.
Log and print.

 heroku[router]: at=error code=H10 desc="App crashed" method=GET path="/api/search?q=edm+2020&page=1"

![youtube](https://user-images.githubusercontent.com/20191049/86439982-fefddb80-bcdf-11ea-8e23-7effd6bdc2fa.jpg)

[2020-07-03 07:34] HermanFassett commented on #21
Thanks for the issue, my initial thought is that deployed code is hitting limit of calls and I'm not handling it correctly in code, I didn't see any limits in development so I was hoping that wasn't the case. I'll check it out

[2020-07-03 08:32] HermanFassett commented on #21
Apparently it's not hitting a limit, but some properties are undefined and cause the app to crash. I pushed a quick fix to dev branch that adds try/catch and logging, I also pushed those changes to the deployed heroku app, but not to master yet. I'll have to do further testing to see if I can find the underlying issue.

[2020-07-05 00:17] AYMEN-DEV commented on #15
See https://dev.to/lawrence_eagles/causes-of-heroku-h10-app-crashed-error-and-how-to-solve-them-3jnl i hope you find it

[2020-07-06 15:04] HermanFassett commented on #15
Have you tried with the latest code changes? If not, can you try with some of those solutions on your own fork and merge with a pull request if you get it working? I could do it myself, but since it's working for me I wouldn't know what works

[2020-07-07 00:03] Roki100 opened #22 "questions"
Hi! I checked ur api and i noticed that when i refresh few times i get different json sometimes so my questions are:
* do you use some sort of proxies?
* did you ever hit 429 on search pages on youtube?
* do you know if youtube has some limit of requests to search results before hitting 429?

im trying to find out how does yt ratelimiting on search work, and found your heroku api that is public an

[2020-07-07 05:15] HermanFassett commented on #22
No proxies built in.
YouTube made a recent update so I had to change the code to work with that. It appears with the new update the results aren't as consistent; also the new update isn't always in affect (I'm assuming it will be more consistent as update is rolled out) so the code uses the old method of parsing search results when update isn't used, which will have a different return. (This is de

[2020-07-07 20:17] Roki100 commented on #22
hmm thats interesting
like my server's ip got 429 on /watch pages but requesting search results works

[2020-07-25 08:22] vicwomg opened #24 "Crash when executing search"
Youtube might have changed something yet again. Looks like the public heroku site is down, and likely because of the same crash I'm seeing locally. When executing a search, this exception brings down the server

[code]

[2020-07-25 12:47] HermanFassett commented on #24
Thanks for the issue! Looks like the same issue I found for #21 where some values aren't defined.

I previously made an update on the dev branch that at least catches the error so that app won't crash and I pushed that to the heroku site. It hasn't been merged to master yet though so that'll be why it's crashing your local.
The heroku site is actually down because I ran out of free hours :(

[2020-07-25 18:31] vicwomg commented on #24
Thank you! I checkout the the dev branch and that does indeed fix it. I deployed my own heroku for now. I'll probably run into the same hourly cap at some point :/

Not directly related to this ticket but I found that I had to add NPM_CONFIG_PRODUCTION=false to the config otherwise the default heroku configuration pruned away the node_modules. Wondering if you saw that and if there's a better way

[2020-07-26 19:00] HermanFassett commented on #24
I have not seen that issue personally, everything worked when deploying on default heroku setup. However, someone else has issue in #15 where it looked like they're modules didn't get installed, is this the same issue?

[2020-07-26 20:08] vicwomg commented on #24
Yes, that's exactly it. I will post my suggested fix there, and close this ticket as a dup of #21. Strange through.

[2020-07-26 20:11] vicwomg commented on #15
I had this issue as well. Very puzzling, the node_modules get pruned away during one of the build steps. Something like "pruning Dev dependencies". However, the project's package.json doesn't specify any devDependencies. I feel like it's a heroku default configuration issue.

Adding this config fixed it:
NPM_CONFIG_PRODUCTION=false

From the cli:
```heroku config:set NPM_CONFIG_PRODUCTION=false -a

[2020-07-26 20:13] #24 closed

[2020-07-26 20:15] vicwomg commented on #21
I get this on the master branch as well. Using the dev branch for now.

Here is the stack trace

[code]

[2020-07-30 18:05] w-henderson opened #25 "Python port"
I don't know if this is the place to put it but I've partially ported this to python [here](https://github.com/w-henderson/Unlimited-YouTube-Search) and I thought you might have some ideas

[2020-07-30 19:30] HermanFassett commented on #25
Nice work, let me know if you have questions

[2020-07-30 19:31] w-henderson commented on #25
Will do 👍

[2020-09-09 19:12] ryzahramakeup commented on #15
From Heroku

Application Logs
2020-09-09T19:11:24.984225+00:00 app[web.1]: npm ERR! youtube-scrape@0.1.0 start: `node server.js`
2020-09-09T19:11:24.984537+00:00 app[web.1]: npm ERR! Exit status 1
2020-09-09T19:11:24.984805+00:00 app[web.1]: npm ERR!
2020-09-09T19:11:24.985055+00:00 app[web.1]: npm ERR! Failed at the youtube-scrape@0.1.0 start script.
2020-09-09T19:11:24.985282+00:00 app[web.1]: n

[2020-09-10 11:32] HermanFassett commented on #15
@ryzahramakeup do you see similar issues in complete logs like aymen?

[2020-09-13 12:11] angelboyes commented on #21
I also receive this problem

[code]

[2020-09-13 14:26] HermanFassett commented on #21
@angelboyes it would be good to see the data that caused this to happen, otherwise, I'm not sure how to fix this and I haven't been able to repro with the time I've had to spend on this. Again, for now, the dev branch will catch these errors and not cause a crash.

[2020-09-13 21:50] krmkcbs opened #26 "Module not found when deployed to heroku"
`

2020-09-13T21:48:50.572029+00:00 app[web.1]:     at Module._compile (internal/modules/cjs/loader.js:1137:30)

2020-09-13T21:48:50.572030+00:00 app[web.1]:     at Object.Module._extensions..js (internal/modules/cjs/loader.js:1157:10)

2020-09-13T21:48:50.572030+00:00 app[web.1]:     at Module.load (internal/modules/cjs/loader.js:985:32)

2020-09-13T21:48:50.572030+00:00 app[web.1]:     at Functi

[2020-09-15 02:41] iamnotstatic opened #27 "Heroku Application error"
I think the API is crashing can you help fix it, It's affecting my Bot

[2020-09-15 14:19] krmkcbs commented on #26
issue fixed by typing heroku config:set NPM_CONFIG_PRODUCTION=false -a project_name

[2020-09-15 14:19] #26 closed

[2020-09-15 14:49] HermanFassett commented on #27
My heroku site is online again, but I do see there are errors being thrown for contents undefined which may affect some calls.

In the future you should set up your own deploy of this since I use free hosting and it is not guaranteed to stay up.

[2020-09-15 15:00] #21 closed

[2020-09-15 15:01] HermanFassett commented on #27
The secondary error being thrown should also be fixed, let me know if there are any more issues

[2020-09-15 15:01] #27 closed

[2020-09-17 14:02] ExoWatts opened #29 "Demo not working?"
The demo doesn't appear to be working:

`http://youtube-scrape.herokuapp.com/api/search?q=herman%20fassett&page=1`

[2020-09-17 15:11] HermanFassett commented on #29
Thanks, found the issue in logs and will push changes

[2020-09-17 15:13] HermanFassett commented on #15
I've seen the same issue in heroku deploy now and adding the config as @vicwomg commented fixed it. Closing for now.

[2020-09-17 15:13] #15 closed

[2020-09-17 15:18] #29 closed

[2020-10-07 16:36] ilyassesalama opened #31 "Heroku application error"
Is this not working or am I doing it wrong?
I tried running in my own host, didn't work as well.

![image](https://user-images.githubusercontent.com/46769766/95360643-91a3ad00-08c3-11eb-91e7-6c8d13d00235.png)

[2020-10-07 17:34] HermanFassett commented on #31
Yeah that's an error, can you view the logs for details?
A possible issue is one that's been seen by others before and has workaround here:
https://github.com/HermanFassett/youtube-scrape/issues/15#issuecomment-664034473

[2020-10-07 17:42] ilyassesalama commented on #31
here you go. I see that the demo you're providing works fine.
![image](https://user-images.githubusercontent.com/46769766/95367480-bbad9d00-08cc-11eb-97d8-aa6aeea34a13.png)
![image](https://user-images.githubusercontent.com/46769766/95367617-e0097980-08cc-11eb-9dec-d5bc12724c4c.png)

[2020-10-12 17:03] andrewstech opened #32 "Regional search"
Hello I was wondering if there was a way to change the region of the search due to region lock in different country's.

[2020-10-13 04:23] HermanFassett commented on #32
Hmm not at this point. Would it be a query string parameter or a base url change? If it's either case, it shouldn't be too hard to implement

[2020-10-14 08:14] andrewstech commented on #32
I would think it would be a parameter change.

On the YouTube website I can see a request with the following parameters " context: {client: {hl: "en", gl: "GB", visitorData: "CgtjZHhVRFBuelhZayjG5Jr8BQ%3D%3D",…},…},…}  " from this i am assuming en is language and GB is the country.

So I would say parameters are the way to go.

[2020-10-16 18:27] MhmdSalah opened #33 "The scrapper fails more ofter as of recently"
Hello! recently, i noticed that the scrapper fails more often.
Here is a video showing what i mean: https://www.dropbox.com/s/bfn858cbaqo7b6m/video%20for%20youtube%20scrapper.mov?dl=0
When i have time, i will try to investigate this issue.

[2020-10-16 20:59] MhmdSalah commented on #33
I had some time on my hands and did some tests.

It seems like the html returned now comes in two (or more) types. i made two files one. One contains html that is parsed successfully using your current method, called Goodhtml, and one that fails, called Badhtml.

here : https://www.dropbox.com/s/mwv8fbe6ctx9y4x/ytseachhtmlexamples.zip?dl=0

[2020-10-16 22:54] HermanFassett commented on #33
Alright, yeah it looks like a different format of html.
[code]
vs
[code]
So looks like there need to be two methods or a more generic way of grabbing data from the html file to parse

[2020-10-17 06:56] cosminadrianpopescu commented on #33
And it also seems that the page parameter is not working anymore. It works only now and then, but more often not...

[2020-10-17 17:16] HermanFassett commented on #33
That's interesting, from what I see, YouTube search results have infinite loading, but the page query still works on their website.

[2020-10-17 19:52] cosminadrianpopescu commented on #33
Yes, but if you try several times, finally will fail. It also works for me from time to time, but eventually it fails.

[2020-10-21 05:00] OsamaSR opened #34 "Failed to run after deployed to Heroku"
Thanks for this awesome app!
I am trying to deploy it to Heroku but I get this "Error: Cannot find module 'express'"
Any idea to solve it?

Thanks

[2020-10-21 05:49] SoulHarsh007 commented on #33
There is a **temporary fix** available.
[code]
this will be returning ytInitialData as string it can be parsed with `JSON.parse()`.

[2020-10-21 07:06] cosminadrianpopescu commented on #33
Yes, but keep in mind that at the moment youtube pages also return the old version. So basically, you need to test before which version you have and then apply one pattern or the other.

[code]

[2020-10-21 11:58] HermanFassett commented on #34
Can you see if this comment fixes
https://github.com/HermanFassett/youtube-scrape/issues/15#issuecomment-664034473

[2020-10-21 12:41] HermanFassett commented on #33
Thanks, I've taken the initial idea here and made commit to fix issue. There is a PR #35  to merge into develop when I'm able to test later.

[2020-10-21 15:02] OsamaSR commented on #34
It works 👍  thanks a lot

[2020-10-21 15:02] #34 closed

[2020-10-21 17:42] SoulHarsh007 commented on #33
@HermanFassett you can have a look at: <https://github.com/SoulHarsh007/youtube-scrape/blob/master/scraper.js>, Hope it helps you 😄

[2020-10-21 19:26] MhmdSalah commented on #33
I have to say, i love how you optimized this code. Very elegant.

[2020-10-22 04:38] FashionCStar opened #36 "The scraper returns same result with different page number"
https://www.youtube.com/results?q=angular&page=1
https://www.youtube.com/results?q=angular&page=2

Youtube returns the same result from the above 2 URLs

Due to your code, it should return different results, but on my side when I input search query in the youtube site search box and do the search, it doesn't show page parameter in the search result URL right?

I want to get a different result for

[2020-10-22 07:16] cosminadrianpopescu commented on #33
I see that in the new implementation you only display the first page of the results? Because my problem right now is that the page parameter is not working anymore.

[2020-10-22 10:06] FashionCStar commented on #33
https://github.com/FashionCStar/youtube-scrape
I also customized your scraper and now it's working well on page 1
but it returns the same result as page 2

[2020-10-22 10:14] FashionCStar commented on #33
@HermanFassett
When I run your project on my local, I am getting blank results.
{"results":[],"version":"0.1.1","parser":"json_format"}

so I changed the version to 0.1.2
but after a few times of request, it returns a blank results again.
{"results":[],"version":"0.1.2","parser":"json_format"}

[2020-10-22 12:05] HermanFassett commented on #33
Is there a specific example that causes it to run blank? Or just continued results? Any exception message you could see? I couldn't get it to return blank after a few minutes of testing.

[2020-10-22 12:06] HermanFassett commented on #33
@cosminadrianpopescu @FashionCStar okay, will check out pages in issue #36

[2020-10-22 12:10] HermanFassett commented on #36
I think YouTube has been phasing out old page query so it no longer works. The official API appears to use pageTokens with results returning the nextPageToken and previousPageToken. I haven't been able to find anything that would work on the youtube site query side for pagination token yet. I can see that there is a continuationItemRenderer returned at the end of each page of results youtube loads

[2020-10-22 13:43] HermanFassett commented on #33
Okay, yeah my heroku deploy was old version 0.1.1 since I haven't merged to master yet, so I would expect that. I pushed changes and now I see consistent results. You're running locally on the latest develop branch change 0.1.2?

[2020-10-22 21:06] FashionCStar commented on #33
of course, I am running version 0.1.2 on my local

![image](https://user-images.githubusercontent.com/39269334/96929854-b1180980-146f-11eb-8d70-6fde765bb527.png)

[2020-10-22 21:06] FashionCStar commented on #33
but after 2 or 3 times of api call request, it returns blank result

[2020-10-22 23:20] HermanFassett commented on #33
Okay, I asked because I did not expect you to get `"parser":"json_format"` in the results you posted previously. I expected either `"parser": "json_format.scraper_data"` or `"parser": "json_format.original"`.

[2020-10-22 23:28] FashionCStar commented on #33
so should I change the parser to `"json_format.scraper_data"` ?

[2020-10-22 23:29] FashionCStar commented on #33
`json["parser"] = "json_format.scraper_data";`
like this @HermanFassett ?

[2020-10-23 00:30] HermanFassett commented on #33
You shouldn't need to make the changes if you pull the `development` branch down to your local machine. That branch has all the changes. I'll be merging those changes into `master` soon.
If you think you have all the changes and you've checked out development branch, run `git log` and verify the top commit says `Fix youtube json parsing (#35)` (30297509bd72979c596328303fb802ffea420115).

[2020-10-23 04:26] FashionCStar commented on #33
Cool
I will pull from `development` branch
BTW, did you find a solution for page number?

[2020-10-23 07:01] HermanFassett opened #37 "Videos with no views are labeled as live"
Nullable check doesn't account for 0 views and assumes null and thus live for the "views" value

[2020-10-23 07:08] HermanFassett commented on #31
Did you resolve?

[2020-10-23 07:19] HermanFassett commented on #33
@cosminadrianpopescu @FashionCStar potential update coming to fix the page issue (#36) with initial work in eb6cc42c050bd1c326b18667c872dac96febe6a9 on secondary branch. Will need more work before merging to develop.

If this issue on intermittent failures appears to be fixed for you guys with the changes currently on develop, I can work on merging to master and closing this issue.

[2020-10-23 10:07] cosminadrianpopescu commented on #33
For me the current issue is solved. No problem with the fix from develop.

[2020-10-23 13:55] FashionCStar commented on #33
@cosminadrianpopescu
Did you fix the page number issue?

[2020-10-23 14:08] cosminadrianpopescu commented on #33
No, I was just saying that the current issue is solved. I will have a look at the PR that @HermanFassett  was talking about and see if this fixes the page issue. But at the moment, the page issue is there.

[2020-10-24 10:17] FashionCStar commented on #33
@HermanFassett
How are you doing?
Any good news for the page number issue?
Regards

[2020-10-24 22:06] HermanFassett commented on #33
I'm out of town atm so I can't really work on changes. You can try out the branch [update-pagination](https://github.com/HermanFassett/youtube-scrape/tree/update-pagination) for my change that should give you a pageToken and key to use for next page results, but I need to clean it up more before I merge into develop and master. I don't think it's possible to have the code work with the `page=n` qu

[2020-10-25 01:19] FashionCStar commented on #33
@HermanFassett
I am running your `update-pagination` branch and it's working well
I have one question
How can I get the channel title and channel URL of each video in the `parseVideoRenderer` function?

[2020-10-25 04:07] HermanFassett commented on #33
The result of that method is an object with a `video` child object and a `uploader` child object. You can get data for the channel like `uploader.username` and `uploader.url` associated with that video result.

[2020-10-25 04:10] FashionCStar commented on #33
oh...
`uploader.username`  and `uploader.url` is the info of channel ?

[2020-10-25 13:58] cosminadrianpopescu commented on #33
I've tested the `update-pagination` branch and it works for me.

[2020-10-26 04:49] #33 closed

[2020-10-30 14:27] EdFabre opened #40 "Both personal and demo site showing application errors"
I tried to deploy your app to my Heroku, but ran into application errors when navigating to my slug's site. I also noticed that when navigating to your public slug at "http://youtube-scrape.herokuapp.com", it is also showing an application error. Is this current build failing? I also attached logs from my instance to help with troubleshooting. I have tried adding the config variable per vic's sugg

[2020-10-30 15:03] EdFabre commented on #40
UPDATE: I went ahead and started troubleshooting your code and it seems to run fine on my PC. The issue looks to be, the Heroku slug's aren't executing `npm install` before `npm start` even when setting `NPM_CONFIG_PRODUCTION=false`.  Let me know if you figure this out.

[2020-10-30 18:53] HermanFassett commented on #40
So far when I've seen this issue, setting that npm production config to false has solved it, so I'm not sure at this point what else could be happening.
My heroku site is failing because it used up all the free hours for this month.

[2020-10-31 13:17] MhmdSalah commented on #33
Hello @HermanFassett and thank you for your efforts. Just wanted to give you heads up that starting last Wednesday, 28 Oct 2020, youtube returns the new format only so all responses from the current repo return with parser = .scraper_data.

I suggest that you tweak the code to skip the check for the old html_format and check for .scraper_data first before the  .original to optimize the code.

Best

[2020-11-02 07:25] fightveryexplosion commented on #32
I would also love to see this feature!

[2020-11-12 04:40] HermanFassett opened #43 "Failed to parse playlist couldn't read thumbnail"
Seen this exception output in logs:
[code]

[2020-11-12 07:10] jetrotal opened #44 "Is it possible to use the JSON generated in the demo directly on a personal page?"
Hi, i'm kinda new to javascript developing for web and my question may sound stupid, but here we go:

I'm trying to use the scrapper to get a list of videos through this function:
[code]

But I keep getting 'Access-Control-Allow-Origin' errors that tell me that I don't have CORS permissions.

Is there something i can do on my end to make this work?

I tried deploying this repository on heroku to s

[2020-11-12 14:47] HermanFassett commented on #44
As is there's not much you can do if you're just working with browser side code. If you're making the request server-to-server then there should be no issues. A fix would be to add `Access-Control-Allow-Origin: *` header to youtube-scrape API so it will accept all sources, but I don't think that should be added to the codebase. If you can host it yourself, then you'll be able to specify your domai

[2020-11-12 15:49] jetrotal commented on #44
I didn't put the entire log, sorry. here it is:

[code]

Looks like it doesn't have the express module and server.js
it seems a lack of basic stuff from my side, i only tried to deploy and run the scrapper without knowing the basic setup to it.

[2020-11-19 11:09] mpirescarvalho opened #45 "Suggestion"
It would be nice if you make this a npm module!

[2020-11-20 09:39] gsysaath opened #46 "Problem with heroku"
Hello,
Your api is really great, and i wanted to tell you that the heroku server has an application error!
Thank you!

[2020-11-20 09:44] gsysaath commented on #46
Actually, the application reworked, no idea why! Thank you again!

[2020-11-20 14:31] HermanFassett commented on #45
Not a bad idea, but a package already exists with the same name. I'll think about it

[2020-11-20 15:14] #36 closed

[2020-11-20 15:18] HermanFassett commented on #46
Huh okay, let me know if it's down again. Sometimes towards the end of the month the app runs out of free heroku dyno hours. Glad you've found this useful.

[2020-11-20 15:18] #22 closed

[2020-11-20 15:19] #12 closed

[2020-11-21 11:35] #45 closed

[2020-11-22 00:46] ilyassesalama commented on #31
Not yet, I want to use this in my hosting, can I do that?

[2020-11-25 04:07] matsd88 opened #49 "HELP! Search not returning results."
Search not returning any results.

[2020-11-25 08:26] apurbapathak opened #50 "Search results not working"
Error, {"results":[],"version":"0.1.4","parser":"json_format.original","key":"AIzaSyAO_FJ2SlqU8Q4STEHLGCilw_Y9_11qcW8"}

[2020-11-25 09:29] HermanFassett commented on #49
Thanks, I'll check it out

[2020-11-25 09:29] HermanFassett commented on #50
Thanks I'll check it out, looks like duplicate of #49

[2020-11-25 09:29] #50 closed

[2020-11-25 12:27] apurbapathak opened #52 "Installation Issue"
Hi, I am trying to install it on my server... but I got some error.

root@scw-happy-euler:~# mkdir -p /usr/src/app
root@scw-happy-euler:~# docker build -t youtube-scrape .
Sending build context to Docker daemon  22.53kB
Step 1/7 : FROM node:14.15.0
 ---> b90fa0d7cbd1
Step 2/7 : WORKDIR /usr/src/app
 ---> Using cache
 ---> 4a2e4719e626
Step 3/7 : COPY package*.json ./
COPY failed: no source files w

[2020-11-25 14:09] Kriishnaa commented on #52
Have you tried with ===>  https://www.npmjs.com/package/scrape-youtube

[2020-11-25 21:41] HermanFassett commented on #52
I don't use docker, but the docker build works fine when I just installed docker on windows. Maybe see if @ocinbat who added the support knows anything.

[2020-11-25 21:47] ocinbat commented on #52
Hi @apurbapathak , you need to run docker build command at project root directory.

[2020-11-26 07:31] apurbapathak commented on #52
Thanks for your help guys.

[2020-12-02 14:45] JorgeOrozcoP opened #53 "Arguments to define searching page"
I am trying to use the API, but I don't understand how to get videos from multiple search pages. The example in index.html says
https://github.com/HermanFassett/youtube-scrape/blob/677fbcd4f54eb85e674c0b0decb6026e1ac88938/index.html#L61

which I tried but always returns results for page 1. In the README documentation you mention to use the key and pageToken arguments. What do they mean and how to

[2020-12-02 15:03] HermanFassett commented on #53
Yeah sorry the index.html needs to be updated.
I wish I could just keep using page but youtube search doesn't use literal pages anymore (it lazy loads infinitely).
To get pages you'll have to call a first query with just `q` parameter which will give you the first page as well as a `key` and a `nextPageToken`. Then to get page 2 you just pass the `key` and `pageToken` as parameters and that will r

[2020-12-02 16:25] JorgeOrozcoP commented on #53
Perfect, I can continue working with this info. Thanks for the quick reply!

[2020-12-09 13:52] patrickkfkan opened #54 "Option to search by type (channel / playlist / video)?"
Hello,

On the YouTube website, you have the option to filter search results by type (channel, playlist, video...). The URL then gets appended with "sp={some string}" (which does not seem to be predefined) and the results will be limited to the specified type.

With youtube-scrape, is it possible to do the same thing? Currently, it returns a bunch of results that can be channels, playlists or vide

[2020-12-09 20:21] HermanFassett commented on #54
Hmm if it's part of the URL than that should be fairly easy to implement, I'll see what I can do

[2020-12-09 22:15] albydeca commented on #46
hey, thanks for implementing this. It seems to be down sporadically (like now). Maybe you are on heroku free tier and it is throttling?

[2020-12-09 22:22] HermanFassett commented on #46
I know there is some throttling, but I restarted the app and it appears to be working again. So there must be some unhandled exception that caused it to throw. I didn't see anything helpful in the logs when it was down, but there's a lot to go through so I can try to find better info later.

[2020-12-14 04:08] shekharchander commented on #54
@makelove If you are eager to try filters, you can use searchtube. It has all the features you need. htttps://github.com/shekharchander/searchtube

[2020-12-14 04:08] shekharchander commented on #37
You can use searchtube. It has all the features you need. htttps://github.com/shekharchander/searchtube

[2020-12-14 13:46] patrickkfkan commented on #54
@HermanFassett , I've submitted a PR on this for your review.

Thanks,
Patrick

[2020-12-14 16:56] Dolanpls commented on #37
@shekharchander you will do the same spam on each issue?

[2021-01-01 05:00] shaziaijaz opened #56 "herokuapp Application error"
hi, how can i solve this problem herokuapp shows Application error after deploy.

[2021-01-02 16:47] HermanFassett commented on #56
Have you tried this solution:
https://github.com/HermanFassett/youtube-scrape/issues/15#issuecomment-664034473
Or do you have some other errors?

[2021-01-09 11:56] #56 closed

[2021-01-11 20:42] YazeedAlKhalaf commented on #32
I just tried it with postman, another way to make it work!
add the `Accept-Language` header to the request when requesting a youtube page, I think we could implement something like this as a parameter when searching and passing it to the header when scraping. It will be a really cool idea.
I don't know about @andrewstech suggestion, cuz I didn't try it but yea.

Example:
[code]

[2021-01-12 07:14] YazeedAlKhalaf commented on #32
Update, I have implemented my suggestion and it is in a PR right now #58

[2021-01-12 18:32] YazeedAlKhalaf opened #59 "➕ Add more info to the json response"
I would like to suggest adding more data such as:
- uploader thumbnail

[2021-01-15 20:33] toyinswift opened #60 "Support Google App Engine"
Hey, Awesome library. please can you add support for Google App Engine?

I think it just requires an app.yaml file to set things up

Thanks!

[2021-02-08 20:59] #32 closed

[2021-02-14 07:26] shaziaijaz opened #61 "How to get YouTube moving thumbnail"
How to get YouTube moving thumbnail
https://i.ytimg.com/an_webp/wTzTyVpgytk/mqdefault_6s.webp?du=3000&sqp=CNjqooEG&rs=AOn4CLAx64ao7CbvmV6IzxKOK4pjNnyeVA

[2021-03-01 13:44] wackyapps opened #62 "Heroku deploy application error (logs attached)"
Hi,
I deployed on heroku which eventually end with Application Error.

https://youtubescrapewk01.herokuapp.com/api/search?q=cricket

Below are logs

2021-03-01T13:25:28.766763+00:00 app[web.1]: requireStack: [ '/app/server.js' ]
2021-03-01T13:25:28.766764+00:00 app[web.1]: }
2021-03-01T13:25:28.782565+00:00 app[web.1]: npm ERR! code ELIFECYCLE
2021-03-01T13:25:28.782906+00:00 app[web.1]: npm ERR!

[2021-03-01 14:12] HermanFassett commented on #62
Did you try this:
https://github.com/HermanFassett/youtube-scrape/issues/15#issuecomment-664034473

[2021-03-01 14:31] wackyapps commented on #62
Thanks it worked. Sorry, I must have checked that.

Appreciated.

[2021-03-01 14:31] #62 closed

[2021-03-14 14:23] erturkdotgg opened #63 "API Is dead"
API is dead, heroku is giving an error, please fix it. Im using it actively.

[2021-03-14 14:28] #63 closed, assigned to nobody

[2021-03-14 14:28] erturkdotgg commented on #63
Fixed

[2021-03-21 06:30] #59 closed

[2021-04-04 23:21] johtso commented on #61
The animated thumbnails are only added to the DOM when the mouse is hovered over the thumbnail, but the urls are included in a javascript variable in a script tag in the body of the page.

Easiest approach to extract the matching animated thumbnail urls from the page would be with a regex something like this:
[code]

[2021-04-05 03:40] HermanFassett commented on #61
Nice, I'll look into it at some point, feel free to pull request if you figure it out

[2021-04-05 18:11] johtso commented on #61
Ah, I see you're already using the `ytInitialdata` object. It should be in there as this:

[code]

[2021-06-01 15:38] sudipghimire533 opened #65 "[QUESTION] Can I use this API with my application that might generate mass request"
I am planning to make a experimental service which requires search in high volume. Is it okay if I use your API for such application. The reason I am asking is if you are limited by dyno hours or not.

[2021-06-01 16:17] HermanFassett commented on #65
Yeah my heroku deploy is limited to hours. Definitely recommend deploying to your own endpoint and make sure you test a lot because I know in the past youtube did some request limiting on IP though I haven't seen it recently.

[2021-06-01 16:35] sudipghimire533 commented on #65
Got it.

[2021-06-01 16:35] #65 closed, assigned to nobody

[2021-06-22 16:58] Kathiriya7 opened #66 "Deployment issue"
Please make a video of deployment.

[2021-06-23 04:30] Vishal431 commented on #66
Here is my build logs.

-----> Building on the Heroku-20 stack
-----> Determining which buildpack to use for this app
-----> Node.js app detected

-----> Creating runtime environment

       NPM_CONFIG_LOGLEVEL=error
       NODE_VERBOSE=false
       NODE_ENV=production
       NODE_MODULES_CACHE=true

-----> Installing binaries
       engines.node (package.json):  unspecified
       engines.npm (pa

[2021-11-05 10:57] #25 closed

[2022-01-16 14:54] JVJplus opened #67 "only USA SERP Results are scraped"
There should also be an option to scrape data according to Country. As I got different results from my country.

[2022-03-30 12:33] srs775 opened #68 "A suggestion - parameters to search for videos made after a certain date/time"
What the title says.

[2022-05-01 05:27] Crilum opened #69 "Using the API inside other websites has CORS errors"
So I'm making a [website](https://github.com/Crilum/websh) (a terminal/shell emulator), and I wanted to use your API to get youtube search results, but when using a `XMLHttpRequest`, I get in console:
[code]
It looks like you need to add the `Access-Control-Allow-Origin: *` header to your server, to fix the problem.

*But*, I understand as well if you don't want me using the API inside my website,

[2022-05-12 15:31] KubebatHaMachatz opened #70 "Suggestion - search for videos with specific duration"
It would be a huge enhancement if it would be possible to search videos with a range of duration (e.g. 30-60 minutes, 1-2 hours etc)